
 {% if messages%}
    {% for messages in messages%}
      {% if message.tags == 'success' %}
        <script>M.toast({html: "{{toasted}}", classes: 'green rounded', displayLength:2000})</script>
      {% elif message.tags == 'info' %}
        <script>M.toast({html: "{{toasted}}", classes: 'blue rounded', displayLength:2000})</script>
      {% elif message.tags == 'warning' %}
        <script>M.toast({html: "{{toasted}}", classes: 'orange rounded', displayLength:2000})</script>
      {% elif message.tags == 'error' %}
        <script>M.toast({html: "{{toasted}}", classes: 'red rounded', displayLength:2000})</script>
    {% endif%}    
        
    {% endfor%}
  {% endif%}